<?php echo $header; ?>
<div class="container">
    <?php if (file_exists(DIR_MODIFICATION . '/catalog/view/theme/neoseo_unistor/template/common/breadcrumbs.tpl')) { ?>
    <?php require_once(DIR_MODIFICATION . '/catalog/view/theme/neoseo_unistor/template/common/breadcrumbs.tpl'); ?>
    <?php } else { ?>
    <?php  require_once(DIR_TEMPLATE . 'neoseo_unistor/template/common/breadcrumbs.tpl'); ?>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="row"><?php echo $column_left; ?>
        <?php if ($column_left && $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } elseif ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-9'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-12'; ?>
        <?php } ?>
        <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
            <div class="account-container box-shadow box-corner table-responsive">
                <h1><?php echo $heading_title; ?></h1>
                <?php if ($products) { ?>
                <table class="table table-bordered tabco1">
                    <thead>
                    <tr>
                        <td colspan="<?php echo count($products) + 1; ?>"><strong><?php echo $text_product; ?></strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><?php echo $text_name; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><a href="<?php echo $product['href']; ?>"><strong><?php echo $product['name']; ?></strong></a>
                        </td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_image; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td class="text-center"><?php if ($product['thumb']) { ?>
                            <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-thumbnail"/>
                            <?php } ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_price; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php if ($product['price']) { ?>
                            <?php if (!$product['special']) { ?>
                            <?php echo $product['price']; ?>
                            <?php } else { ?>
                            <strike><?php echo $product['price']; ?></strike> <?php echo $product['special']; ?>
                            <?php } ?>
                            <?php } ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_model; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php echo $product['model']; ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_manufacturer; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php echo $product['manufacturer']; ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_availability; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php echo $product['availability']; ?></td>
                        <?php } ?>
                    </tr>
                    <?php if ($review_status) { ?>
                    <tr>
                        <td><?php echo $text_rating; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td class="rating"><?php for ($i = 1; $i <= 5; $i++) { ?>
                            <?php if ($product['rating'] < $i) { ?>
                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <?php } else { ?>
                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                            <?php } ?>
                            <?php } ?>
                            <br/>
                            <?php echo $product['reviews']; ?></td>
                        <?php } ?>
                    </tr>
                    <?php } ?>
                    <tr>
                        <td><?php echo $text_summary; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td class="description"><?php echo $product['description']; ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_weight; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php echo $product['weight']; ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td><?php echo $text_dimension; ?></td>
                        <?php foreach ($products as $product) { ?>
                        <td><?php echo $product['length']; ?> x <?php echo $product['width']; ?>
                            x <?php echo $product['height']; ?></td>
                        <?php } ?>
                    </tr>
                    </tbody>
                    <?php foreach ($attribute_groups as $attribute_group) { ?>
                    <thead>
                    <tr>
                        <td colspan="<?php echo count($products) + 1; ?>">
                            <strong><?php echo $attribute_group['name']; ?></strong></td>
                    </tr>
                    </thead>
                    <?php if(isset($attribute_group['attribute'])) { ?>
                        <?php foreach ($attribute_group['attribute'] as $key => $attribute) { ?>
                        <tbody>
                        <tr>
                            <td><?php echo $attribute['name']; ?></td>
                            <?php foreach ($products as $product) { ?>
                            <?php if (isset($product['attribute'][$key])) { ?>
                                <td><?php echo $product['attribute'][$key]; ?></td>
                            <?php } else { ?>
                                <td></td>
                            <?php } ?>
                            <?php } ?>
                        </tr>
                        </tbody>
                        <?php } ?>
                    <?php } ?>
                    <?php } ?>
                    <tr>
                        <td></td>
                        <?php foreach ($products as $product) { ?>
                        <td>
                            <input type="button" value="<?php echo $button_cart; ?>" class="btn btn-primary btn-block" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"/>
                            <a href="<?php echo $product['remove']; ?>" class="btn btn-danger btn-block"><?php echo $button_remove; ?></a>
                        </td>
                        <?php } ?>
                    </tr>
                </table>
                <?php } else { ?>
            </div>

            <div class="empty-box box-shadow box-corner">
                <p class="empty-title"><?php echo $text_empty; ?></p>
            </div>
            <?php } ?>
        </div>
        <?php echo $content_bottom; ?>
    </div>
</div>
<?php echo $column_right; ?>
</div>

<script>
    var t = $('table.tabco1 tbody:first tr:first td').size();
    if(t == 5) { $('table.tabco1 tbody td').css('width','20%'); }
    if(t == 4) { $('table.tabco1 tbody td').css('width','25%'); }
    if(t == 3) { $('table.tabco1 tbody td').css('width','33%'); }
    if(t == 2) { $('table.tabco1 tbody td').css('width','50%'); }
</script>
<?php echo $footer; ?>