
.popup-fade .modal-body{
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
}

.popup-fade .modal-dialog {
  margin: 0;
}

.popup-fade .modal-header .close {
  font-size: 32px;
  opacity: 1;
}
.popup-fade .modal-header {
  border-radius: 4px 4px 0 0;
}
.popup-fade .modal-header h4{
  font-size: 21px;
  color: #000;
}

/**/

.modal-content {
  overflow: hidden;
}

.popup-fade .modal-dialog.center{
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.popup-fade .modal-dialog.top_left{
  left: 50px;
  top: 50px;
  position: absolute;
}

.popup-fade .modal-dialog.top_center{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

.popup-fade .modal-dialog.top_right{
  right: 50px;
  top: 50px;
  position: absolute;
}

/**/

.popup-fade .modal-dialog.bottom_left{
  left: 50px;
  bottom: 50px;
  position: absolute;
}

.popup-fade .modal-dialog.bottom_center{
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.popup-fade .modal-dialog.bottom_right{
  right: 50px;
  bottom: 50px;
  position: absolute;
}

/**/

.popup-fade .modal-dialog.center_left {
  left: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.popup-fade .modal-dialog.center_right {
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
@media (max-width: 767px) {

  .popup-fade .modal-dialog {
    position: absolute;
    padding: 10px;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
  }

  .popup-fade .modal-content {
    width: 100% !important;
    height: auto !important;
    overflow-y: auto;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
  }
}




