.block_consultation{
    height: 400px;
    padding: 136px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f9;
    position: relative;
    overflow: hidden;
    border: solid 1px #eceeef;
    margin: 0;
    margin-bottom: 25px;
}
.block_consultation .form-grey{
    max-width: 877px;
    height: 276px;
    background: rgba(0, 0, 0, .7);
    margin: 52px auto 55px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
		padding: 20px 40px;
}

.block_consultation .zf_title1 { font-size:30px !important; }
.block_consultation .zf_title2 { font-size:24px !important;}

.block_consultation .title_block p { color:white; line-height:1.25;}
.block_consultation .title_form    { padding:10px 0;}
.block_consultation .title_form p  { color:white; line-height:1.25;}

.block_consultation .col-md-4 , .block_consultation .col-sm-4 { padding-left:5px; padding-right:5px;}
.block_consultation input.form-control { border:none; border-radius:3px;height:38px; font-size:16px; margin:5px 0 10px;}
.block_consultation .btn { padding:10px 30px; margin-top:30px; font-size:20px; font-weight:bolder; text-transform:uppercase; min-width:300px;}


.block_consultation .zpos-top    {}
.block_consultation .zpos-top + div { text-align:center; margin-top: -10px; position: relative; bottom: 30px;}
.block_consultation .zpos-top + div .title_block { max-width:870px; display:inline-block;}

.block_consultation .zpos-bottom { margin-top:40px; text-align: center; position: relative; top:30px;}
.block_consultation .zpos-bottom .title_block { max-width:870px; display:inline-block; margin-bottom:-2px;}
.block_consultation .zpos-bottom + div .form-grey { position:relative; bottom:10px;}


.block_consultation .zpos-left , .block_consultation .zpos-right { padding-left:0; padding-right:0;}
.block_consultation .zpos-left .form-grey, .block_consultation .zpos-right .form-grey { height: auto; margin:auto; }
.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 { font-size:40px !important;}
.block_consultation .zpos-left .zf_title2 , .block_consultation .zpos-right .zf_title2 { font-size:18px !important;}
.block_consultation .zpos-left .title_form , .block_consultation .zpos-right .title_form { padding-top:1px; padding-bottom:1px;}
.block_consultation .zpos-left .btn , .block_consultation .zpos-right .btn { margin-top:15px;}
.block_consultation .zpos-left input.form-control, .block_consultation .zpos-right input.form-control { margin-bottom:13px;}
.block_consultation .zpos-left .help-block , .block_consultation .zpos-right .help-block { bottom:13px;}

@media (min-width: 992px) {
		.block_consultation .zpos-left > div, .block_consultation .zpos-right > div { 
				width: 49.5%;
				display: inline-block;
				vertical-align: middle;
				float: none;
				text-align: center;
		}
}

.block_consultation .help-block { color:#bbb; 
		text-align: left;
    position: relative;
    bottom: 8px;
    height: 0px;
    line-height: 1.1;
		margin:0;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.block_consultation { padding-left:30px; padding-right:30px;}
	.block_consultation .zf_title1 { font-size:28px !important; }
	.block_consultation .zf_title2 { font-size:22px !important;}
	.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 {font-size:38px !important; }
}
@media (max-width: 991px) and (min-width: 768px) {
	.block_consultation { padding-left:10px; padding-right:10px;}
	.block_consultation .zf_title1 { font-size:26px !important; }
	.block_consultation .zf_title2 { font-size:20px !important;}
	.block_consultation .form-grey { height:260px;}
	.block_consultation .btn { margin-top:25px;}
	.block_consultation .help-block { font-size:11px;}
	
	.block_consultation .zpos-left .form-grey, .block_consultation .zpos-right .form-grey { padding:20px;}
	.block_consultation .zpos-left .btn , .block_consultation .zpos-right .btn { width: auto;}
	.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 { font-size:34px !important;}
}
@media (max-width: 830px) and (min-width: 768px) {
	.block_consultation .btn { margin-top:20px;}
	.block_consultation .zpos-left .form-grey, .block_consultation .zpos-right .form-grey { padding:15px 10px;}
	.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 { font-size:32px !important;}
}
@media (max-width: 767px) {
	.block_consultation .zf_title1 { font-size:23px !important; }
	.block_consultation .zf_title2 { font-size:20px !important;}
	.block_consultation input.form-control { margin-bottom:15px;}
	
	.block_consultation { height: auto; padding:2px 10px;}
	.block_consultation .form-grey { height: auto;}
	.block_consultation .zpos-bottom { margin-top:20px; top:24px;}
	.block_consultation .zpos-bottom .title_block { margin-top:-20px;}
	.block_consultation .zpos-bottom + div { margin-bottom: -50px;}
	.block_consultation .btn { margin-top:14px;}
	.block_consultation .help-block { height:10px; font-size:13px;}
	
	.block_consultation .zpos-top + div .title_block { margin-bottom:-15px;}
	
	.block_consultation .zpos-left , .block_consultation .zpos-right { padding-left:10px; padding-right:10px;}
	.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 { text-align: center; font-size:28px !important; margin-top: 10px; margin-bottom: 15px;}
	.block_consultation .zpos-left .btn, .block_consultation .zpos-right .btn { width:100%;}
	.block_consultation .zpos-left .form-grey, .block_consultation .zpos-right .form-grey { margin-bottom:15px; padding:20px 15px;}
	.block_consultation .zpos-right .form-grey { margin-top:15px;}
}

@media (max-width: 480px) {
	.block_consultation .help-block { height:12px; font-size:12px;}
	.block_consultation .zpos-left .zf_title1 , .block_consultation .zpos-right .zf_title1 {font-size:24px !important; }
	.block_consultation .zpos-left .form-grey, .block_consultation .zpos-right .form-grey { margin-bottom:10px; padding:15px 5px;}
	
	.block_consultation .zpos-left , .block_consultation .zpos-right { padding-left:5px; padding-right:5px;}
	.block_consultation .zpos-left > div , .block_consultation .zpos-right > div { padding-left:5px; padding-right:5px;}
}


.block_consultation {
	animation: moveBg 20s infinite ease;
	background-position: center;
}

.block_consultation .btn.btn-warning {
	animation: pulseBg 2s infinite ease;
}

@keyframes pulseBg {

	0% {
		background: #e2502a;
	}
	50% {
		background: #ec971f;
	}
	0% {
		background: #e2502a;
	}

}

@media (min-width: 992px) {
	@keyframes moveBg {

		0% {
			background-size: 100%;
		}
		50% {
			background-size: 120%;
		}
		100% {
			background-size: 100%;
		}

	}
}

@media (max-width: 991px) {
	.title_block p {
		font-size: 24px !important;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.block_consultation {
		padding: 15px 0;
		background-size: cover !important;
	}

	.title_block p  {
		font-size: 5vw !important;
		padding: 0 30px;
	}

	#consultation .btn.btn-warning {
		min-width: 100%;
		font-size: 16px;
	}

}

@media (max-width: 356px) {

	#consultation .form-grey{
		width: 88%;
	}

}



