.socials {
  margin-left: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
  height: 37px;
  width: 100%;
  font-size: 21px;
  a {
    transition: 0.3s;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    &:last-child {
      margin-right: 0;
    }
  }
  a:hover {
    transition: 0.3s;
    transform: scale(1.05);
  }

  .ok {
    background: url('../image/socials.png') no-repeat 0 0;
  }

  .fb {
    background: url('../image/socials.png') no-repeat -32px 0;
  }

  .tw {
    background: url('../image/socials.png') no-repeat -64px 0;
  }

  .vk {
    background: url('../image/socials.png') no-repeat -96px 0;
  }

  .yt {
    i {
      display: flex;
      color: red;
      background: #fff;
      border-radius: 50%;
      width: 20px;
      height: 15px;
      transform: translateY(3px);
      font-size: 26px;
      &:before {
        margin-left: -1px;
        transform: translateY(-5px);
      }
    }
  }

}


@media (max-width: 767px) {
  .socials {
    justify-content: flex-start;
    margin-top: 20px;
  }
}

