.module-carousel .title {
  margin-left: 100px;
  margin-right: 100px;

  @media screen and (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;

    .title-text {
      width: 100%;
      text-align: center;
    }
  }
}