#neoseo-brands-abc {
	position: relative;
	border-radius: 4px;
 	margin-bottom: 22px;
 	z-index: 1;
	&:hover {
		z-index: 10;
	}
}

#neoseo-brands-abc .heading {
	background: $button-color;
	color: #fff;
	float: left;
	font-weight: 500;
	height: 22px;
	line-height: 19px;
	margin: 0 5px 0 0;
	padding: 0 16px;
	overflow: visible;
	position: relative;
}

#neoseo-brands-abc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#neoseo-brands-abc ul li {
	position: relative;
	float: left;
	margin: -1px 6px 7px 0;
}

#neoseo-brands-abc a {
	cursor: pointer;
}

#neoseo-brands-abc ul li > a {
	height: 24px;
	line-height: 22px;
	padding: 0 8px;
	text-decoration: none;
	border: solid 1px #ddd;
	border-radius: 3px;
	color: #666;
	display: block;
	text-align: center;
	background: #fff;
}

#neoseo-brands-abc ul > li:hover > a {
	color: #f00;
	border: solid 1px #bbb;
	background: #f8f8f8;
}

#neoseo-brands-abc .wrapper > ul > li:hover:before {
	position: absolute;
	z-index: 2;
	left: 0px;
	right: 0px;
	bottom: -5px;
	height: 9px;
	content: '';
	border-left: solid 1px #bbb;
	border-right: solid 1px #bbb;
	background: #f8f8f8
}

#neoseo-brands-abc ul li > div {
	display: none;
	background: #f8f8f8;
	position: absolute;
	top: 115%;
	border-top: 0;
	border-radius: 0 3px 3px 3px;
}

#neoseo-brands-abc ul > li:hover > div {
	display: block;
	padding: 4px 10px 4px 0px;
	z-index: 1;
	text-align: left;
	border: solid 1px #bbb;
}

#neoseo-brands-abc ul ul li {
	border: none !important;
	padding: 0;
	margin: 0;
	min-width: 100px;
}

#neoseo-brands-abc ul ul a {
	text-align: left;
	color: #666;
	border: none !important;
	white-space: nowrap;
	margin: 0;
	text-decoration: underline;
	background: #f8f8f8;
}

#neoseo-brands-abc ul ul a:hover {
	border: none;
	text-decoration: none;
	box-shadow: none !important;
}

@media (max-width:767px) {
	#neoseo-brands-abc .col-xs-12 > ul li:hover:before {
		display:none;
	}
}