#popup-quick_order {

  @media (max-width: 375px) {
    .modal-content {
      height: 95vh;
      overflow-y: scroll;
    }

    .modal-footer {
      padding: 10px 35px;
    }
  }


}


.quick {

  &__box {
    overflow-y: auto;
    height: 252px;
    @media (max-width: 575px) {
      height: 128px;
    }
  }



  &__item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin: 10px 0;

    &-info {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
      img {
        max-width: 40px;
      }
      h4 {
        margin: 0 10px;
        font-size: 16px;
        @media (max-width: 480px) {
          font-size: 12px;
        }
        font-weight: normal;
      }
    }

    &-price {
      display: flex;
      align-items: flex-start;
      h4 {
        margin: 0 10px;
        font-size: 16px;
        @media (max-width: 480px) {
          font-size: 12px;
        }
        font-weight: normal;
      }
    }

  }

}