.payments {
  display: flex;
  margin-bottom: 5px;
  height: 40px;
  width: 100%;

  .visa {
    background: url("../image/payment/payment-ico.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: block;
  }

  .master {
     background: url("../image/payment/payment-ico.png") no-repeat;
     background-position: -57px 0;
     cursor: pointer;
     width: 50px;
     height: 40px;
     display: block;
   }

  .webmoney{
    background: url("../image/payment/payment-ico.png") no-repeat;
    background-position: -115px 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: block;
  }

  .cash {
    background: url(../image/payment/payment-ico.png) no-repeat;
    background-position: -172px 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: block;
  }

  .qiwi {
    background: url(../image/payment/payment-ico.png) no-repeat;
    background-position: -227px 0;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: block;
  }

}
