/* Neoseo BLOG Start */
#blog-search {
	border: 1px solid #ccc;
	top: 0;
	& > .form-control {
		border: none;
		border-right: 1px solid #ccc;
	}
	& > .input-group-btn, #button-search {
		height: 100%;
		background: #ececec;
		padding: 2px 9px 2px;
		color: #747474;
	}
}

.related-products-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 9px;
	.related-products-grid {
		margin-bottom: 15px;
		.product-thumb {
			background: $module-background-color;
			border: 1px solid $module-border-color;
			margin: 5px -10px;
			padding: 10px;
			h4 {
				font-weight: 600;
				font-size: 16px;
				text-align: center;
				height: 37px;
				overflow: hidden;
				& > a {
					color: $title-color;
				}
			}
			.price {
				font-size: 18px;
				text-align: center;
				min-height: 20px;
			}
		}
	}
}


#related_articles {
	padding: 0 5px;
}

.related-products-column {
	.product-thumb {
		padding: 0 5px;
		display: flex;
		border: none !important;
		.image {
			margin-right: 10px;
			width: 40%;
		}
		.quickview {
			display: none;
			& > * {
				display: none;
			}

		}
		.caption {
			width: 60%;
		}
		h4 {
			font-weight: 400;
			font-size: 16px;
			height: 39px;
			overflow: hidden;
			margin-right: 7px;
			& > a {
				color: $text-color;
			}
			& > a:hover {
				color: $text-color;
			}
			.price {
				color: $text-color;
				font-size: 16px;
				text-align: center;
				min-height: 20px;
			}
		}
		&:hover {
			padding: 0 5px;
		}
	}

}

@media (max-width: 1199px) {
	.related-products-container {
		.related-products-grid {
			.product-thumb {
				.price {
					font-size: 16px;
					text-align: center;
					min-height: 20px;
				}
			}

		}
	}


	.related-products-column {
		.product-thumb {
			align-items: center;
			flex-direction: column;
			.caption {
				width: 100%;
				text-align: center;
			}
		}

	}


}

#button-comment:hover {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	opacity: 0.94
}

@media (max-width: 767px) {

	.article-thumb {
		display: flex;
		flex-direction: column !important;
	}

	.product-layout .news .image img {
		width: 100%;
	}

	#form-comment.with-captcha #button-comment {
		bottom: -5px;
	}
}
///
.comment-reply-link {
	background: $button-color;
	color: $button-color-text;
	border-radius: 4px;
	font-size: 13px;
	text-shadow: none;
	border: none;
	box-shadow: none;
	padding: 5px 16px;
	&:hover {
		background: $button-color-hover;
		color: $button-color-text;
		border: none;
		text-decoration: none;
		text-shadow: none;
		box-shadow: none;
	}
}
.entry-meta {
	padding: 0 0 6px;
	margin-top: 0;
	display: flex;

	a {
		font-size: $entry-meta-font-size;
		color: $entry-meta-a-color;
		&:hover {
			text-decoration: underline
		}
	}
	.fa {
		font-size: $entry-meta-fa-font-size;
		margin-right: 2px;
	}
	span {
		font-size: $entry-meta-font-size;
		display: inline-block;
		margin-bottom: 5px;
		color: #595959;
	}
}
@media (max-width: 1199px) and (min-width: 768px) {
	.entry-meta span {
		font-size: 12px
	}
}
.row.article-block {
	margin-bottom: 30px;
}
.common-home .row.article-block {
	/*margin-left: 0;
    margin-right: 0;*/
	.product-layout {
		padding-left: 0;
		padding-right: 0
	}
}
.product-grid {
	text-align: center;
}
.blog-content .product-grid .caption,
.article-block .product-thumb .caption, .article-block .article-thumb .caption {
	height: 180px;
	overflow: hidden;
	margin-top: 0;
	/*&:before {
      content: "";
      display: block;
      height: 30px;
      width: 99%;
      position: absolute;
      bottom: 5px;
      left: 1px;
      @include top-gradient(rgba(255, 255, 255, 0), #FFF);
    }*/
}
.article-block .product-layout .product-thumb, .article-block .product-layout .product-thumb:hover,.article-block .product-layout .article-thumb, .article-block .product-layout .article-thumb:hover {
	padding: 10px;
	margin: 0;
	border: 1px solid #EEE;
}



.product-block .product-thumb .caption {
	min-height: 140px;
	position: relative;
}

/* Blog - comments */
.comment-body {
	background-color: $comments-background-color;
	margin: 0;
	overflow: hidden;
	padding: 20px 10px;
	position: relative;
	border-radius: 0;
	.comment-content {
		padding: 0 0 15px;
		font-size: 13px;
		line-height: 1.25;
		word-wrap: break-word;
	}
	.comment-top {
		display: flex;

		.comment-meta {
			padding-bottom: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 50%;
			.comment-author {
				padding-right: 15px;
				width: 50%;
				&::after {
					content: '';
					width: 2px;
					height: 25px;
					display: block;
					background: white;
					position: absolute;
					left: 25%;
					top: 18px;
					border-radius: 3px;
					box-shadow: 0 0 1px 1px #bbbaba;
				}
			}
			.comment-date {
				width: 50%;
				padding-left: 10px;
				position: relative;
				top: -2px;
			}
		}

		.comment-rating {
			display: flex;
			width: 50%;
			justify-content: flex-end;
			span {
				position: relative;
				margin-right: 5px;
				font-size: 16px;
			}
		}

	}
	.comment-middle {
		display: flex;
		.comment-quot {
			display: flex;
			width: 10%;
			font-size: 108px;
			color: $button-color;
		}
		.comment-content {
			padding: 21px 15px 15px 0;
			display: flex;
			width: 90%;
			color: $text-color;
		}

	}

	.comment-bottom {
		display: flex;
		justify-content: flex-end;
	}
}
.comment-rating .fa-stack {
	width: 0.9em;
	height: 1em;
}
.comment-rating .fa-stack-2x {
	color: #ec0404;
	font-size: 1em;
}
@media (max-width: 991px) {
	.comment-body .comment-left {
		width: 26%;
	}
	.comment-body .comment-right {
		width: 73%;
	}
}
@media (max-width: 767px) {
	.comment-body .comment-left {
		width: 25%;
	}
	.comment-body .comment-right {
		width: 74%;
	}
}
@media (max-width: 480px) {
	.comment-body .comment-left {
		width: 100%;
		margin-bottom: 15px
	}
	.comment-body .comment-right {
		width: 100%;
	}
}
.comment-author {
	font-size: $comment-author-font-size;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 5px;
}
.comment-date {
	font-size: $comment-date-font-size;
	line-height: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
	opacity: 0.8;
}

.comment-children {
	margin-left: 0;
	padding-left: 40px;

	.comment-body {
		background: #ededed;
		border-radius: 3px;
		margin-bottom: 10px;
	}

	.comment-left {
		margin-bottom: 20px;
	}

	.comment-meta {
		display: flex;
		@media (max-width: 414px) {
			flex-direction: column;
		}

		& > div {
			margin: 0;
		}

		.comment-author {
			position: relative;
			padding-right: 30px;
			min-width: 130px;
			@media (max-width: 414px) {
				margin-bottom: 10px;
			}
			&::after {
				content: '';
				width: 2px;
				height: 25px;
				display: block;
				background: white;
				position: absolute;
				right: 12px;
				top: -5px;
				border-radius: 3px;
				box-shadow: 0 0 1px 1px #bbbaba;
				@media (max-width: 414px) {
					display: none;
				}
			}
		}
		.comment-date {
			white-space: nowrap;
		}
	}

}

@media (min-width: 768px) and (max-width: 1199px) {
	.comment-author {
		font-size: 12px
	}
	.comment-date {
		font-size: 10px
	}
}
#form-comment {
	#input-captcha {
		margin-right: 20px;
		width: 50%;
		float: left;
	}
	.buttons {
		display: inline-block;
		margin: 0;
		margin-bottom: 4px;
	}
	.comment-captcha {
		label {
			width: 100%;
			text-align: left;
		}
		.col-sm-10 {
			clear: left;
		}
	}
	&.with-captcha #button-comment {
		position: relative;
		bottom: -30px;
	}
}
#reply-remove {
	white-space: nowrap;
}

.article-block.arbs .product-thumb .entry-meta span {
	font-size: 11px
}
.article-block.arbs .product-thumb .entry-meta span .fa {
	font-size: 12px;
	margin-right: 1px
}
@media (max-width: 1199px) {
	.paginator > div {
		float: none;
		width: 100%;
		text-align: left;
	}
	.paginator .text-left {
		position: relative;
		top: -5px;
	}
}

.row.actik {
	padding-top: 5px
}

@media (max-width: 1199px) {
	.row.actik {
		font-size: 13px;
		line-height: 1.25;
	}
}
@media (max-width: 991px) {
	.row.actik {
		line-height: 1.2;
		img {
			float: none;
			width: auto;
			max-width: 100%;
			display: block;
		}
	}
}

.wrapps.asb-wrap {
	padding-top: 0
}
.aticle-body {
	color: $text-color;
	ul, ol {
		padding-left: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	li {
		margin-left: 30px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	img {
		max-width: 100%;
		margin-bottom: 8px;
		margin-top: 8px;
	}
}

#form-comment #input-review + .help-block {
	font-size: 12px;
	margin-bottom: 14px;
}

.articles-top {
	margin-bottom: 20px;
	padding: 25px 20px ;
	background: $module-background-color;
	border: 1px solid $module-border-color;
	min-height: 175px;
	h2 {
		color: $title-color;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	p {
		color: $text-color;
	}

	a.moreLink {
		text-transform: uppercase;
		color: $button-color;
		font-size: 15px;
		text-align: center;
		background: linear-gradient(to top, rgba(255,255,255,1) 46%,rgba(125,185,232,0) 100%);
		width: 100%;
	}

}

.articles-bottom {
	padding: 10px;
	background: $module-background-color;
	border: 1px solid $module-border-color;
}

.article-block  {
	.article-layout {
		.news {
			overflow: hidden;
			margin: 0px -10px 10px;
			background: $module-background-color;
			border:1px solid $module-border-color;
			& > a {
				color: $product-title-color;
			}

			.image {
				padding: 2px 2px 0 2px;
				& > a {
					& > img {
						width: 100%;
						margin: 0 auto;
					}
				}

			}
			.caption {
				height: auto;
				padding: 10px;
				overflow: hidden;

				h4 {
					a {
						color: #000;
						text-transform: uppercase;
					}
				}
				.entry-meta {
					height: 24px;
					.entry-date {
						width: 50%;
					}
					.rating-container {
						position: relative;
						top: -3px;
						width: 50%;
						display: flex;
						justify-content: flex-end;
						.rating {
							margin-right: 0;
						}
					}
				}
				h4 {
					height: 36px;
					text-transform: uppercase;
					overflow: hidden;
					font-weight: bold;
				}
				p {
					opacity: 0.8;
					color: $title-color;
					overflow: hidden;
					padding: 10px 0;
					height: 170px;
				}
				.post-info {
					padding: 10px 0 0 10px;
					width: 130px;
					display: flex;
					border-top: 1px solid #e1e1e1;
					color: $title-color;
					.entry-views {
						margin-right: 15px;
						i {
							margin-right: 10px;
						}
					}
					.entry-comments-link {
						i {
							margin-right: 10px;
						}
					}
				}

			}
			&:hover {
				.image {
					& > a {
						img {
							outline: 2px solid $module-border-color-hover;
						}
					}
				}
			}
		}
	}

}

@media (max-width: 1199px) {
	.article-block {
		.article-layout {
			.news {
				.caption {
					.entry-meta {
						height: 44px;
						flex-direction: column;
						.entry-date {
							width: 100%;
							text-align: center;
						}
						.rating-container {
							width: 100%;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.article-block {
		.article-layout {
			.news {
				.caption {
					.entry-meta {
						height: auto;
						flex-direction: row;
						.entry-date {
							width: 50%;
							text-align: left;
						}
						.rating-container {
							width: 50%;
							justify-content: flex-end;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.article-block {
		.article-layout {
			.news {
				.caption {
					.entry-meta {
						flex-direction: column;
						.entry-date {
							width: 100%;
							text-align: center;
						}
						.rating-container {
							width: 100%;
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

//-------------------------------------//
@media (min-width: 992px) and (max-width: 1199px) {
	.article-block {
		.article-layout {
			.news {
				.caption {
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.article-layout-posts {
		.news {
			margin: 0px -11px 10px;
			& > a {
				color: $text-color;
			}
			.image {
				& > a {
					& > img {
						margin: 0 auto;
					}
				}

			}
			.caption {
				padding: 10px;
				overflow: hidden;
				a{
					color: $text-color;
				}
				p {
					overflow: hidden;
					height: 139px;
					padding: 10px 0;
				}
				h4 {
					margin-top: 5px;
					height: 40px;
					overflow: hidden;
				}
			}
		}
	}
}

@media (max-width: 480px) and (min-width: 391px){
	.article-block {
		.article-layout {
			.news {
				.h4 {
					font-size: 14px;
				}
				font-size: 12px;
				.caption {
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 390px) {
	.article-block {
		.article-layout {
			.news {
				.h4 {
					font-size: 14px;
				}
				font-size: 12px;
				.caption {
					height: auto;
				}
			}
		}
	}
}

.item>div {
	padding-left: 15px;
}

.testimonial-container {
	transition: 0.5s;
	text-align: center;
	padding: 40px 10px 10px 10px;
	height: auto;
	line-height: 2;
	hr {
		margin-top: 0;
	}
}


.btn-post {
	transition: 0.5s;
	border-radius: 5px;
	background: $button-color;
	padding: 5px 10px;
	color: $button-color-text;
	border: none;
	&:hover {
		color: $button-color-text-hover;
		background: $button-color-hover;
	}
}

.reviewer-name {
	color: $text-color;
	font-weight: bold;
	margin-right: 5px;
	&:hover {
		color: $text-color;
		text-decoration: underline;
	}
}

.admin-block {
	text-indent: 10px;
	.admin-name {
		color: $text-color;
		font-weight: bold;
		margin-right: 5px;
		&:hover {
			color: $text-color;
			text-decoration: underline;
		}
		i {
			margin-right: 5px;
		}
	}
	.admin-description {
		text-indent: 48px;
	}
}

.entry-category-link {
	display: flex;
	height: auto;
	overflow: hidden;
	i {
		margin-right: 5px;
	}
}


.article-thumb .images>a>img {
	display: block;
	max-width: 200px;
	width: auto;
	height: auto;
	margin:0 10px 10px 0;
}

@media (max-width: 992px) {
	.article-thumb .images>a>img {
		display: block;
		max-width: 200px;
		width: auto;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
}

.article-thumb {
	align-items: center;
	transition: 0.1s ease-in-out;
	display: flex;
	flex-direction: row;
	padding: 17px 15px 5px;
	background: $module-background-color;
	opacity: $module-background-opacity;
	border: 1px solid $module-border-color;
	&:hover {
		padding: 17px 15px 5px;
	}
}

.article-search-container {
	transition: 0.1s ease-in-out;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 5px 10px;
	background: $module-background-color;
	opacity: $module-background-opacity;
	border: 1px solid $module-border-color;
	margin: 0 0 10px;
	color: $title-color;
	.buttons.clearfix {
		width: 96%;
		margin: 0 auto !important;
	}
	.entry-meta {
		span, i {
			color: $product-title-color;
		}

	}
}

.blog-content {
	.module {
		margin: 0;
	}
}

.article-post {
	transition: 0.1s ease-in-out;
	display: flex;
	flex-direction: column;
	background: $module-background-color;
	opacity: $module-background-opacity;
	border: 1px solid $module-border-color;
	margin: 0 0 10px;
	color: $title-color;
	padding: 20px;
	h2 {
		font-weight: bold;
	}
	.entry-meta {
		display: flex;
		flex-direction: column;
		&_top {
			margin-bottom: 5px;
			.entry-date {
				border-right: 1px solid $text-color;
				padding-right: 10px;
				margin-right: 10px;
				color: $text-color;
			}
			.entry-author {
				color: $text-color;
				a {
					color: $a-color;
					&:hover {
						color: $a-hover-color;
					}
				}
			}
		}
		&_bottom {
			font-weight: bold;
			i {
				font-weight: bold;
			}
		}
	}
}

.costumer-comments {
	background: $module-background-color;
	padding: 15px 15px 0 15px;
	.form-horizontal {
		.costumer-form {
			background: #ececec;
			margin: 0 -15px;
			padding: 10px 30px;

			#comment_write {
				font-weight: bold;
				margin: 20px 0 40px;
				text-transform: uppercase;
			}

			.customer-info {
				display: flex;
				.control-label {
					width: 20%;
					text-align: left;
				}
				.form-control {
					width: 80%;
				}
			}

			.customer-comment {
				display: flex;

				.control-label {
					display: flex;
					width: 20%;
					text-align: left;
				}

				.form-control {
					width: 80%;
				}

			}

			.costumer-form-submit {
				display: flex;
				flex-direction: column;
				padding-left: 21%;
			}
		}

	}

}

.articles-layout {
	padding: 5px 5px 5px 9px;
	.article-thumb {
		.images {
			margin-right: 20px;
		}
		.entry-meta {
			color: $text-color;
			.entry-date {
				border-right: 1px solid $text-color;
				padding-right: 10px;
				margin-right: 10px;
			}
			.entry-author {
				a {
					color: $a-color;
					&:hover {
						color: $a-hover-color;
					}
				}
			}
		}
		.caption {
			p {
				color: $text-color;
			}
			.caption-bottom {
				display: flex;
				align-items: center;
				margin: 20px 0;
				justify-content: space-between;
				._left {
					display: flex;
					.button_more {
						background: $button-color;
						color: $button-color-text;
						padding: 10px 15px;
						&:hover {
							background: $button-color-hover;
						}
					}
				}
				._right {
					display: flex;
					width: 280px;
					justify-content: space-between;
					padding-right: 20px;
					.rating-container {
						top: -4px;
						position: relative;
					}
					.entry-views, .entry-comments-link {
						color: #000;
						i {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {



	.comment-top {
		flex-direction: column;
		.comment-meta {
			width: 100% !important;
			.comment-author::after {
				left: 50% !important;
			}
		}

		.comment-rating {
			margin-top: 10px;
			width: 100% !important;
			justify-content: flex-start !important;
		}
	}

	.costumer-comments {
		.form-horizontal {
			.customer-info {
				display: flex;
				flex-direction: column;
				.control-label {
					width: 100% !important;
					text-align: left;
					margin-bottom: 20px;
				}
				.form-control {
					width: 100% !important;
				}
			}

			.customer-comment {
				display: flex;
				flex-direction: column;
				.control-label {
					width: 100% !important;
					text-align: left;
					margin-bottom: 20px;
				}

				.form-control {
					width: 100% !important;
				}

			}

			.costumer-form-submit {
				display: flex;
				flex-direction: column;
				padding-left: 0 !important;
			}
		}

	}
}

@media (max-width: 550px) {
	.comment-quot {
		display: none !important;
	}

	.articles-layout {
		.article-thumb {

			.caption {
				.caption-bottom {
					flex-direction: column;
					._left {
						width:100%;
						justify-content: center;
						order: 2;
					}
					._right {
						width: 100%;
						justify-content: space-between;
						padding: 10px 20px 20px;
						order: 1;
					}
				}
			}
		}
	}
}

.side-module {
	.blog-category {
		padding-top: 15px;
		.blog-category-button {
			display: flex;
			justify-content: space-between;
			padding: 5px 30px 5px 10px;
			align-items: center;
			height: 46px;
			h3 {
				margin: 0;
				font-weight: bold;
				text-transform: uppercase;
			}
			i {
				font-size: 30px;
			}
		}
		& > h3 {
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 15px 15px;
		}
		/* list group */
		.list-group {
			.list-group-item {
				cursor: pointer;
				border-left: none;
				border-top: 1px solid rgb(221, 221, 221);
				border-right: none;
				border-bottom: none;
			}

			a {
				color: $text-color;
				padding: 12px 12px 12px 20px;
				border-radius: 0 !important;
				display: flex;
				align-items: center;

				&:hover {
					color: $button-color;
				}
				&.active, &.active:hover {
					background: transparent;
					color: $button-color;
					border: none;
				}
				i {
					color: $button-color;
					margin-right: 7px;
				}

			}
			.item-category {
				font-weight: bold;
				color: #000;
				&.active, &.active:hover{
					color: $button-color-text;
					background: $button-color;
					border-radius: 0 !important;
					border: none;
				}
				&:hover {
					color: $button-color-text;
					background: $button-color;
					border-radius: 0 !important;
					border-top: 1px solid $button-color;
				}
			}

		}
	}




	.blog-article-short {
		padding: 5px 15px;
		& > h3 {
			font-weight: bold;
			text-transform: uppercase;
		}
		.actik {
			display: flex;
			align-items: center;
			height: 90px;
			border-bottom: 1px solid #ececec;
			img {
				padding: 0;
				margin-right: 15px;
				max-width: 100%;
			}
			a {
				color: #333;
			}

			&:hover {
				img {
					outline: 2px solid $button-color;
				}
				a {
					color: $button-color;
				}
			}
		}
	}
}


.related-product-container {
	padding: 10px 12px;
	h3 {
		font-weight: bold;
		text-transform: uppercase;
	}

}

@media (max-width: 1199px) {
	.side-module {
		.blog-article-short {
			.actik {
				display: flex;
				padding: 15px 0;
				height: auto;
			}
		}
	}
}

@media (max-width: 991px) {

	.side-module {
		.blog-category {
			padding: 0;
		}
	}


	.blog-article-short {
		display: none;
	}
}

.articles-content-main {
	.articles-layout {
		.article-thumb {
			.caption {
				height: auto;
				overflow: visible;
				h4 {
					height: 36px;
					overflow: hidden;
				}

				&-bottom {
					flex-direction: column;
					@media (min-width: 768px) {
						align-items: flex-start;
					}
					._right {
						order: 1;
						margin-bottom: 15px;
					}
					._left {
						order: 2;
					}
				}
			}
		}
	}

}

/* -  BLOG - END  */