<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport" />
<title></title>
<style type="text/css">
  a:hover {text-decoration: underline !important;}

</style>
<!-- <div class=""></div> -->

<table class="wrapper" border="0" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 700px; margin: 0 auto; font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;">
  <tr>
    <td>
      <table  class="header" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;  line-height:16px; font-weight: bold; color:#fff;background:#ee532a;margin-bottom:0px;">
        <tr  style="">
          <td style=" padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase;  white-space: nowrap;">О нас</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase;  white-space: nowrap;">Политика</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase;  white-space: nowrap;">Акции</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase;  white-space: nowrap;">Информация</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase;  white-space: nowrap;">Контакты</a>
          </td>
        </tr>
      </table>
      
      <table  class="contacts" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;   line-height:16px; font-weight: bold; color:#000;background:#fff;margin-bottom:0px;">
        <tr>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;"><img src="logo.png" alt="logo"></td>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;">
            <div><img src="icon-ks.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
            <div><img src="icon-mts.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
          </td>
          <td style="padding: 25px 0px; padding-right: 10px; text-align: right;">
            <img src="icon-watch.png" alt="">
          </td>
          <td style="padding: 25px 5px; padding-left: 0px; text-align: left;">
            <div>Пн-Пт:<span style="font-weight: normal;">с 9.00 - 19.00</span></div>
            <div>Сб:<span style="font-weight: normal;">с 9.00 - 15.00</span></div>
          </td>
        </tr>
      </table>
      
      <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;border: 30px solid #f6f6f6; border-left: 25px solid #f6f6f6; border-right: 35px solid #f6f6f6;">
        <tr>
          <td>
            <table class="emailMain" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #dedede; width: 100%;border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height: 36px; ">
              <tr>
                <td colspan="2" class="title" style="padding: 45px 35px 25px;font-size: 30px; font-weight: 900; text-align: center; text-transform: uppercase; color: #2fa423;">Заказ завершен</td>
              </tr>
              <tr>
                <td style="padding: 10px 10px 40px 35px; text-align: center; line-height:22px">
                  <div style=" font-size: 18px; font-weight: 700;">Ваш заказ {order_id} <span style="font-weight: 100;">успешно завершен</span>
                    <div style="font-size: 18px; font-weight: 100;">Благодарим Вас, что стали нашим покупателем, мы очень рады сотрудничеству!</div> 
                  </div>
                </td>                
              </tr>
            </table>

            <table class="actions" cellspacing="10" style=  "  border: 20px solid #fff;text-align: center; width: 100%; font-size: 14px; font-weight: 700;">
               <tr>
                <td colspan="3" style="padding: 5px 0px 25px;font-size: 24px; font-weight: 900; text-align: center; text-transform: uppercase; color: #333;">Не пропустите - акции на нашем сайте:</td>
                
               </tr>
               <tr>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar1.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar2.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar3.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
               </tr>
            </table>

            <table class="viewed" cellspacing="10" style="   border: 20px solid #fff;ext-align: center; width: 100%; font-size: 14px; font-weight: 700;">
               <tr>
                <td colspan="3" style="padding: 5px 35px 25px;font-size: 24px; font-weight: 900; text-align: center; text-transform: uppercase; color: #333;">Просмотренные товары:</td>
                
               </tr>
               <tr>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar1.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar2.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar3.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
               </tr>
            </table>

            <table class="wishes" cellspacing="10" style="   border: 20px solid #fff;ext-align: center; width: 100%; font-size: 14px; font-weight: 700;">
               <tr>
                <td colspan="3" style="padding: 5px 35px 25px;font-size: 24px; font-weight: 900; text-align: center; text-transform: uppercase; color: #333;">Отложенные товары:</td>
                
               </tr>
               <tr>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar1.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar2.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
                <td style="border: 1px solid #dedede; padding: 20px;">
                  <div class="img" style="text-align: center;"><img src="tovar3.png" alt=""></div>
                  <a href="#" class="name" style="padding: 20px 0; display: block; font-size: 11px; line-height: 16px; color: #333; font-weight: 700; text-decoration: underline;">SilverBack Strider 20 2015</a>
                  <div class="price"><span style="font-size: 14px; font-weight: 100; color: #666; text-decoration: line-through; padding: 5px 2px;">28500грн</span><span style="font-size: 16px; font-weight: 700; color: #333; text-decoration: none; padding: 5px 2px;">24500грн</span></div>
                  <a href="#" class="btn" style="display: inline-block; block; padding: 0 20px; margin-top: 10px; font-size: 14px; line-height: 30px; font-weight: normal; color: #fff; text-decoration: none; background: #ee532a; border-radius: 3px;">Купить</a>
                </td>
               </tr>
            </table>
            
                        
             <table style="width: 100%;">
               <tr>
                 <td style="padding-top: 30px; padding-left: 25px; text-align: left;"><img src="uspeh.png" alt=""></td>
                 <td style="font-size: 18px; line-height: 24px; padding-right: 25px; color: #999; text-align: left">С уважением, <span style="color: #666; font-weight: 700;">команда магазина</span> <span style="color: #000; font-weight: 700;">NeoSeo!</span>
                  <div style="color: #999; font-weight: 700; text-align: right;">До скорых встреч на нашем сайте</div>
                 </td>
               </tr>
             </table>
          </td>
        </tr>
      </table>
      
      <table class="footer" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;  line-height:16px; font-weight: lighter; color:#fff; background:#2f2f2f; text-align: left; margin-bottom:0px;">
        <tr>
          <td style="padding: 30px 10px 7px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Обои и декор</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Лаки и краски</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Инструмент и инвентарь</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Сантехника, вентиляция</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Строительные материалы</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Все для сада</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Плитка, керамогранит</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Электроинструмент</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Расходные материалы</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Напольные покрытия</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Электрика и освещение</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Товары для дома, квилинг</a></td>
        </tr>
        <tr>
          <td colspan="3" style="padding-left: 40px; padding-top: 40px; padding-bottom: 14px;">
            <a href="#"><img src="icon-ok.png" alt="ok"></a>
            <a href="#"><img src="icon-fb.png" alt="facebook"></a>
            <a href="#"><img src="icon-google.png" alt="google"></a>
            <a href="#"><img src="icon-tw.png" alt="tw"></a>
            <a href="#"><img src="icon-vk.png" alt="vk"></a>
          </td>
        </tr>
        <tr style=" border-top: 1px solid #454545">
          <td colspan="2" style="padding-left: 40px; padding-bottom: 20px; padding-top: 20px;font-size: 14px; color: #fff; font-weight: normal;">Зайти на наш сайт <a href="neoseo.com.ua" style="color: #ee532a; font-weight: bold; ">neoseo.com.ua</a></td>
          <td style="padding-bottom: 20px; padding-top: 20px;"><img src="icon-mail.png" alt=""><a href="mailto:sport@gmail.com" style="padding-left: 20px; color: #fff; text-decoration: none;">sport@gmail.com</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>