<div class="modal modal--subs fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close-button close" data-dismiss="modal">
                    <span></span>
                    <span></span>
                </button>
                <h3 class="modal-title"><?php echo $heading_title; ?></h3>
            </div>
            <div class="modal-body">
                <div class="row block-flex">
                    <div class="col-sm-4 text-center">
                        <img src="/image/neoseo_subscribe.png">
                    </div>
                    <div class="col-sm-8 block-flex-col">
                        <p><?php echo $message; ?></p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><?php echo $button_continue; ?></button>
            </div>
        </div>
    </div>
</div>
