.remove {
    position: absolute;
    top: 5px;
    right: 5px;
}
.explane {
    position: absolute;
    top: 5px;
    right: 30px;
}
.input-item {
    margin-bottom: 10px;
}
.sz1 {
    width: 200px;
    height: 160px
}

.sz0 {
    margin: 2em 0 0 0
}

.sz0 {
    width: 100px;
    height: 80px
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
}

.dd-list .dd-list {
    padding-left: 30px
}

.dd-collapsed .dd-list {
    display: none
}

.dd-item,.dd-empty,.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px
}

.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #c7cbd5;
    background: #f6f6f8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.dd-handle:hover {
    color: #36a9e1;
    background: white
}

.dd-handle .icon {
    float: right;
    font-size: 16px;
    margin-left: 10px
}

.dd-handle .icon:hover {
    text-decoration: none
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold
}

.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0
}

.dd-item>button[data-action="collapse"]:before {
    content: '-'
}

.dd-placeholder,.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-size: 60px 60px;
    background-position: 0 0,30px 30px
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.1)
}

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd
}

#nestable-menu {
    padding: 0;
    margin: 20px 0
}

#nestable-output,#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: .75em;
    line-height: 1.333333em;
    font-family: Consolas,monospace;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#nestable2 .dd-handle {
    color: white;
    border: 1px solid #c7cbd5;
    background: #c7cbd5
}

#nestable2 .dd-handle:hover {
    border: 1px solid #383e4b;
    background: #383e4b
}

#nestable2 .dd-item>button:before {
    color: #fff
}


.dd-hover>.dd-handle {
    background: #2ea8e5!important
}

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #c7cbd5;
    background: #f6f6f8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.dd3-content:hover {
    color: #36a9e1;
    background: #fff
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0
}

.dd3-item>button {
    margin-left: 30px
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #c7cbd5;
    background: #c7cbd5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.dd3-handle:before {
    content: 'â‰¡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal
}

.dd3-handle:hover {
    background: #383e4b
}

#image-position {
    padding: 6px 11px;
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-group.image-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}